{% load static %}
<footer>
<div class="bg-dark text-white pt-1 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-12 mx-auto mt-3">
                 <img width="50" src="{% static 'images/logo.png' %}">
                <br>
                <h4 class="text-uppercase  font-weight-bold text-warning letter-spacing-3em "> ISV FOOTBALL ACADEMY</h4>
                <p class="fs-6">
                    ഇണ്ണുനീലി സ്മാരക വായനശാല ആർട്സ് &സ്പോർട്സ് ക്ലബ് എലിഞ്ഞിപ്ര പി. ഒ. സിത്താര നഗർ, ചാലക്കുടി
                </p>
                <h5><span class="badge bg-light text-dark">For more info 8075703257,8075733795</span></h5>
               <div class="d-flex justify-content-center ">
                   <p>innuneeli</p>
                    <img width="30" src="{% static 'images/fb.png' %}" class="mx-2 rounded-circle">
                   <img width="30" src="{% static 'images/intsta.png' %}"  class="mx-2 rounded-circle">
                    <p>isv_football_club</p>
               </div>

                <center>
    <p style="margin-bottom:0px">
        &copy; designed and developed by siva
    </p>
        </center>
                </div>
            </div>
</div>
    </div>
    </footer>
<footer>
    <div class="bg-light">
        <div class="col-md-12 text-center ">
        <h5 class="font-weight-bold text-dark">Charitable Society Register No -571/91 | Affiliated to - Kerala state library council, Kerala State youth welfare board, Nehru Yuva Kendra | Kerala State rutronix, Sports council of Kerala.</h5>
    </div>
    </div>
</footer>


