{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-bg-light pt-4 pb-20">
<div>
    <h3 class="text-center" >FOOTBALL FOR FEMALE EMPOWERMENT</h3>

</div>
<div class="container">

     <p class="pt-3">
Why is it important for girls to play sports? This is a question we ask all of our participants, all over the world. Our female empowerment initiative here at CAC is all-inclusive… meaning we hold ourselves to higher standards than we hold the rest of the world. Our team is made up of at least 60% female coaches, and we do not accept partner programs that do not include women in their activities. It is important to understand, however, that gender equity is the ultimate goal. Yet, so often we hear the phrase, “she doesn’t play like a girl.” What does this mean? How do we move away from this type of mentality that so generalizes and devalues female potential
</p>
</div>

<br>
<div>
    <div class="container"  style=" padding-bottom: 50px;  padding-top: 100px;">
    <div class="row">

        <div class="col-sm  d-flex flex-column align-items-center justify-content-center">
            <div class="card" style="width: 18rem; height: 30rem; ">
  <img style="width:100%; height: 15rem;" src="{% static 'images/child1.png' %}" class="card-img-top " alt="...">
  <div class="card-body">
    <h5  class="card-title"  style="text-align: center;">donate</h5>
    <p class="card-text">donate a football and basic training equipment for a girl for a year 100 per month</p>
    <div  style=" position:absolute;  bottom:50px; left:10px; right:10px; " >
        <a href="#"  style=" padding-bottom: 10px;" class="btn btn-primary d-flex flex-column align-items-center justify-content-center ">make payment</a>
    </div>
  </div>
</div>
        </div>

             <div class="col-sm  d-flex flex-column align-items-center justify-content-center">
            <div class="card" style="width: 18rem; height: 30rem;">
  <img style="width:100%; height: 15rem;" src="{% static 'images/child6.png' %}" class="card-img-top " alt="...">
  <div class="card-body">
    <h5  class="card-title"  style="text-align: center;">donate</h5>
    <p class="card-text">support 40 girls supplement their protien intakes RS 200 per month</p>
    <div class="container" style=" padding-bottom: 100px;" >
<div  style=" position:absolute; bottom:50px; left:10px; right:10px; " >
        <a href="#"  style=" padding-bottom: 10px;" class="btn btn-primary d-flex flex-column align-items-center justify-content-center ">make payment</a>
    </div>  </div>
  </div>
</div>
        </div>

        <div class="col-sm  d-flex flex-column align-items-center justify-content-center">
            <div class="card" style="width: 18rem; height: 30rem;">
              <img style="width:100%; height: 15rem;" src="{% static 'images/child3.png' %}" class="card-img-top " alt="...">
              <div class="card-body">
                <h5  class="card-title"  style="text-align: center;">donate</h5>
                <p class="card-text">support 40 grils to copmlete nourishment after training for a day .. RS 300 per month</p>
<div  style=" position:absolute; bottom:50px; left:10px; right:10px; " >
        <a href="#"  style=" padding-bottom: 10px;" class="btn btn-primary d-flex flex-column align-items-center justify-content-center ">make payment</a>
    </div>              </div>
            </div>
        </div>
            </div>
    </div>



    <br>
     <div class="container" style=" padding-bottom: 100px;  padding-top: 50px;">
<div class="row pt-60 pb-60">

             <div class="col pt-6 pb-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img style="width:100%; height: 15rem;" src="{% static 'images/child4.png' %}" class="card-img-top " alt="...">
                    <div class="card-body">
                    <h5  class="card-title"  style="text-align: center;">donate</h5>
                    <p class="card-text">support a grl to play a match RS 500 per month</p>
    <div  style=" position:absolute; bottom:50px; left:10px; right:10px; " >
        <a href="#"  style=" padding-bottom: 10px;" class="btn btn-primary d-flex flex-column align-items-center justify-content-center ">make payment</a>
    </div>                     </div>
                </div>
            </div>

    <div class="col pt-6 pb-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card" style="width: 18rem; height: 30rem;">
                <img style="width:100%; height: 15rem;" src="{% static 'images/child5.png' %}" class="card-img-top " alt="...">
            <div class="card-body">
                <h5  class="card-title"  style="text-align: center;">donate</h5>
                <p class="card-text">sponser a girl to bacome a future star Rs 1000 per month</p>
<div  style=" position:absolute; bottom:50px; left:10px; right:10px; " >
        <a href="#"  style=" padding-bottom: 10px;" class="btn btn-primary d-flex flex-column align-items-center justify-content-center ">make payment</a>
    </div>             </div>
        </div>
    </div>
</div>
</div>
    </div>
</div>
{% endblock %}