{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-black">
<!--<div class="bg-black">-->
    <div class="row">

        <div class="col-12 text-white d-flex flex-column align-items-center justify-content-center">
                <div class="p-2">
               <h5 class="text-center text-info"> നമുക്ക് കെട്ടിപ്പടുക്കാം മികച്ച ഫുട്ബോൾ അക്കാദമി, വാർത്തെടുക്കാം കരുത്തുറ്റൊരു വനിതാ ഫുട്ബോൾ ടീം. </h5>
                    </div>
             <div class="p-2">
               <p class="text-center text-white"> കാൽപന്തുമായി അഭേദ്യമായ ബന്ധമുള്ള, അവിസ്മരണീയമായ ഫുട്ബോൾ ചരിത്രമുള്ള നമ്മുടെ നാടിനെ ഫുട്ബോളിന്റെ പറുദീസയാക്കാൻ നമുക്ക് ഒത്തുപിടിച്ചാലോ.
കഴിവും ആഗ്രഹമുള്ള കുട്ടികൾക്ക് ചെറിയ പ്രായത്തിൽ തന്നെ മികച്ച അടിസ്ഥാന സൗകര്യങ്ങളും തുടർച്ചയായ വിദഗ്ധ ഫുട്ബോൾ പരിശീലനവും നൽകിയാൽ പ്രഗത്ഭരായ കളിക്കാരെയും നിലവാരമുള്ള ഫുട്ബോൾ ടീമിനെയും നമുക്ക് വളർത്തിയെടുക്കാം.<br> കരുത്തുറ്റ കരങ്ങൾ കോർത്തുപിടിച്ച് നമ്മുടെ സ്വപ്നം സഫലമാക്കാം.
നാടിനെയും വരും തലമുറയെയും ഉയരങ്ങളിലേക്ക് എത്തിക്കാൻ, നമ്മുടെ കുട്ടികളെ ശാരീരികവും മാനസികവുമായി കരുത്തുള്ളവരാക്കാൻ, കളിക്കളത്തിൽ ഇടം കിട്ടാതെ പോയ നമ്മുടെ പെൺകുരുന്നുകൾക്ക് കളിച്ചുദാൻ, ഈ സ്വപ്ന പദ്ധതിയിൽ കൈത്താങ്ങായി നിങ്ങളുമുണ്ടാകില്ലേ? </p>
                    </div>

        </div>

    </div>
<!--</div>-->
    </div>





<div class="container-fluid bg-black">
<!--<div class="bg-black">-->
    <div class="row">
        <div class="col-4">
            <img width="700px" src="{% static 'images/a2.png' %}" />
        </div>
        <div class="col-8 text-white d-flex flex-column align-items-center justify-content-center">
                <div class="p-2">
               <h4 class="text-center text-warning-emphasis"> മികച്ചൊരു തുടക്കത്തിലൂടെ ലക്ഷമിട്ടത്തിലും അധികം മുന്നോട്ട് പോകാൻ നമുക്ക് സാധിച്ചു ഇനിയും ദൂരമേറെയുണ്ട് മുന്നിൽ. നമ്മുടെ സ്വപ്നം ഏറെ വലുതും ലക്ഷ്യം ഏറെ അകലെയുമാണ്. ഉറച്ച മനസ്സും കരുത്തുറ്റ കരങ്ങളുമാണ് നമ്മുടെ ഇന്ധനം. നമുക്കൊന്നിച്ച് സ്വപ്നം കാണാം, ഒരുമിച്ച് യാത്ര തുടരാം, ഒരുമിച്ച് നേടാം... </h4>
                    </div>

        </div>

    </div>
<!--</div>-->
    </div>





<div class="container-fluid bg-black">
<!--<div class="bg-black">-->
    <div class="row">
        <div class="col-8 text-white d-flex flex-column align-items-center justify-content-center">
                <div class="p-2">
               <h2 class="text-center"> ISV FOOTBALL ACADEMY</h2>
                    </div>
                <div class="p-2">
            <p class="text-center">
With your invaluable support we are shaping a better future generation through the beautiful game, football
We are preparing girls to become a professional female football player. We are uplifting them by giving those opportunities to play and practice football.
Our girls becoming stronger in mentally and physically. Our children learning to face defeat and achieve success by teamwork.
            </p>
                    </div>
        </div>
        <div class="col-4">
            <img src="{% static 'images/a1.jpg' %}" />
        </div>
    </div>
<!--</div>-->
    </div>




{% endblock %}